.search {
  display: flex;
  margin: 0;
  max-width: 350px;
  z-index: 99;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px) !important;
  width: 100%;
  padding: 12px;
  border-radius: 999px;
  background-color:rgb(239,243,244);
}

.search-wrapper {
  height: 53px;
}

.searchwrapper {
  height: 53px;
  background-color: white;
  display: flex;
  position: fixed;
  z-index: 999;
  width: 100%;
  padding-top: 8px;
  padding-left: 16px;
}

.search svg {
  width: 18.75px;
}
input[type="text"].inputsearch {
  width: 100%;
  border-style: none;
  background-color: transparent;
  font-size:15px;
  padding-left: 12px;
}

input.inputsearch {
  font-family: "Amiro", sans-serif;
  color: grey;
  font-size: 20px;

textarea:focus,
input:focus {
  outline: none;
}
